<%- include ('templates/header'); -%>

        <header>
            <h1> Compound Format </h1>
        </header>
        <nav>
            <hr>
            <a href="/">Main</a>
            <a href="raster">Raster</a>
            <a href="vector">Vector</a>
            <a id="currentPage" href="compound">Compound</a>
        </nav>

    <br/><br/>

        <main>
            <figure id="comp_img">
                <img src="img/compound1.png" alt="Compound Image" />
            </figure>

            <div id="c_info">
                <mark>Compound image formats</mark> are a format that combines raster and vector
                <p>It is a very flexible image format</p>
                <p>One example of its use is in movie posters</p>
                <p>Popular example is PDF</p>

                <br/><br/>
            </div>

            <figure id="comp_poster1">
                <img src="img/compound2.jpg" alt="Poster Godfather" />
            </figure>

            <figure id="comp_poster2">
                <img src="img/compound3.jpg" alt="Poster Pokemon" />
            </figure>

        </main>

<%- include ('templates/footer'); -%>
