<%- include ('templates/header'); -%>
        
        <header>
            <h1> Types of Image Formats </h1>
        </header>
        <nav>
            <hr>
            <a id="currentPage" href="/">Main</a>
            <a href="raster">Raster</a>
            <a href="vector">Vector</a>
            <a href="compound">Compound</a>
        </nav>

        <br/><br/>

        <main>

            <div id="main_info">
                There are many types of <mark>image formats</mark> out there
                <p>There are three main categories for them such as Raster, Vector, and Compound</p>
                <p>Knowing the difference between them is crucial for developers</p>
                <p>Using the right format can drastically improve any website/magazine/ad/poster/etc.</p>

            <br/><br/>

            </div>

            <figure id="main_img1">
                <img src="img/main1.png" alt="Main Page Image1" />
            </figure>

            <figure id="main_img2">
                <img src="img/main2.jpg" alt="Main Page Image2" />
            </figure>

            <figure id="main_img3">
                <img src="img/main3.jpg" alt="Main Page Image3" />
            </figure>


        </main>

<%- include ('templates/footer'); -%>




