<%- include ('templates/header'); -%>

        <header>
            <h1> Vector Format </h1>
        </header>

        <nav>
            <hr>
            <a href="/">Main</a>
            <a href="raster">Raster</a>
            <a id="currentPage" href="vector">Vector</a>
            <a href="compound">Compound</a>
        </nav>

        <br/><br/>

        <main>
            <figure id="vector1">
                <img src="img/vector1.png" alt="Vector Image 1" />
            </figure>

            <div id="v_info">
                <mark>Vector images</mark> are constructed using mathematical formulas rather than individual colored blocks
                <p>EPS, AI, SVG and PDF*  are some formats that are good for creating graphics that require resizing.</p>
                <p>They are also good to use for Logos and brand graphics</p>
                <p>Smaller items like business card and letterhead use vector images</p>
                <p>Larger surfaces, such as your corporate jet and banners are best seen with vector formats</p>

            <br/><br/>

                <span id="example2">Examples:</span>
                <ul>
                    <li>EPS</li>
                    <li>AI</li>
                    <li>SVG</li>
                    <li>PDF</li>
                    <li>CGM</li>
                    <li>RS-274X</li>
                </ul>
            </div>

            <figure id="vector2">
                <img src="img/vector2.png" alt="Vector Image 2" />
            </figure>

        </main>

<%- include ('templates/footer'); -%>

