        <footer>
            <hr>
            <details>
                <summary>2020&copy; Cruz</summary>
                <p>CST 336 Internet Programming</p>
                <p>Homework 1 Redo - Assignment 4</p>
                <p>Image Formats Website</p>
            </details>
            <strong>Reference: </strong><a href='<%=source%>'>LINK</a>
            <p>Joke 4 U: <%=joke%></p>
            <br/><br/>
        </footer>

    </body>

</html>